{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
{% load post %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>
<div class="content is-full py-3 px-4 scrollbox">
    <div class="post-featured is-full">
        {% with post.target as obj %}
        {% if obj|model_name == 'text' %}
        {% if obj.thumbnail %}
        <img src="{{ obj.thumbnail.url }}">
        {% else %}
        <img src="https://cdn.pixabay.com/photo/2017/08/17/13/33/business-2651346_960_720.jpg">
        {% endif %}
        {% elif obj|model_name == 'audio' %}
        <div class="post-overlay text-center">
            <audio id="audio1" controls preload="auto">
                <source src="{{ obj.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </div>
        {% if obj.thumbnail %}
        <img src="{{ obj.thumbnail.url }}">
        {% else %}
        <img src="https://cdn.pixabay.com/photo/2016/03/28/09/36/music-1285165_960_720.jpg">
        {% endif %}
        {% elif obj|model_name == 'video' %}
        <iframe src="{{ obj.video_url }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        {% elif obj|model_name == 'link' %}
        <img src="{{ obj|audio_thumbnail }}" alt="">
        {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <section class="mb-3">
                <h1 class="text-black h4 mb-1">{{ post.title }}</h1>
                <ul class="list-inline mb-1">
                    <li>
                        <div class="user-avatar is-sm">
                            {% if post.get_avatar_url %}
                            <img src="{{ post.get_avatar_url }}" alt="">
                            {% else %}
                            <img src="{% static 'img/base/avatar.png' %}" alt="">
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <p class="text-gray-200 font-sm">{{ post.user.full_name }} | {{ post.created|date:"D, d M, Y | P" }}</p>
                    </li>
                    <li class="bold text-secondary"><span id="avg-rating">{% if post.avg_rating %}{{ post.avg_rating|floatformat:2 }}{% else %}0.0{% endif %}</span> <span class="text-yellow"><i class="fas fa-star"></i></span></li>
                    {% if post.target|model_name == 'link' %}
                    <li>
                        <a class="btn btn-link is-black" href="{{ post.target.content_url }}" target="_blank"><i class="fas fa-link"></i> <span class="bold text-gray-300">View Post</span></a>
                    </li>
                    {% endif %}
                </ul>
                <div class="font-md mb-2">
                    {% with post.target as obj %}
                    {% if obj|model_name == 'text' %}
                    {{ post.description }}
                    {% elif obj|model_name == 'audio' %}
                    {{ post.description }}
                    {% elif obj|model_name == 'video' %}
                    {{ post.description }}
                    {% elif obj|model_name == 'link' %}
                    {{ obj|audio_content|safe }}
                    {% endif %}
                    {% endwith %}
                </div>

                {% if request.user.is_authenticated %}
                <ul class="mt-2 list-inline mb-2">
                    <li><p class="mb-0 bold text-gray-600">Rate this post :</p></li>
                    <li>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" {% if rated == 5.0 %}checked{% endif %}/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4.5" {% if rated == 4.5 %}checked{% endif %}/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" {% if rated == 4.0 %}checked{% endif %}/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3.5" {% if rated == 3.5 %}checked{% endif %}/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" {% if rated == 3.0 %}checked{% endif %}/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2.5" {% if rated == 2.5 %}checked{% endif %}/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" {% if rated == 2.0 %}checked{% endif %}/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1.5" {% if rated == 1.5 %}checked{% endif %}/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" {% if rated == 1.0 %}checked{% endif %}/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="0.5" {% if rated == 0.5 %}checked{% endif %}/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </li>
                </ul>
                {% endif %}
            </section>

            <section class="mb-4">
                <h2 class="text-secondary mb-1">Leave a Comment</h2>
                <p class="font-sm text-gray-200 italic"><em>*Comments will be displayed once verified.</em></p>
                <form action="." method="POST">
                    <div class="mb-2">
                        {% if form.content.errors %}
                        <ul class="error-list">
                            {% for err in form.content.errors %}
                            <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ form.content }}
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </form>
            </section>
            <section>
                <ul class="list list-comments">
                    {% for comment in comments %}
                    <li>
                        <article>
                            <ul class="list-inline">
                                <li>
                                    <div class="user-avatar is-sm">
                                        {% if comment.get_avatar_url %}
                                        <img src="{{ comment.get_avatar_url }}" alt="">
                                        {% else %}
                                        <img src="{% static 'img/base/avatar.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                </li>
                                <li>
                                    <p class="text-gray-200 font-sm">{{ comment.user.full_name }} | {{ comment.created|date:"D, d M, Y | P" }}</p>
                                </li>
                            </ul>
                            <p class="mb-0">{{ comment.content|safe }}</p>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.rating input').change(function(e) {
            e.preventDefault();
            var in_el = $(this);
            var value = $(this).attr('value');
            $.ajax({
                url : '{% url "core:rate_post" %}',
                type : 'POST',
                data : {
                    'id' : '{{ post.id }}',
                    'value' : value
                },
                success : function(d) {
                    if (d.status == 'failed') {
                        in_el.prop('checked', false);
                        $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+d.message+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    } else {
                        in_el.prop('checked', true);
                        $('#avg-rating').text(d.avg);
                        $('#inf-msg-box .alert-list').append('<li class="is-success"><div class="alert-details"><strong>Success:</strong> Post Rated Successfully!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    }
                },
                error : function(xhr, status, error) {
                    in_el.prop('checked', false);
                    $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+xhr['responseText']+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                    removeInfo();
                }
            });
        });
    });
</script>
{% endblock %}