{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load post %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>
<div class="content is-full py-3 px-4 scrollbox">
    <section class="mb-4">
        <!-- Filter -->
        <div class="d-flex filter justify-content-between align-items-center pb-1 border-bottom border-light mb-1">
            <ul class="list-inline zero">
                <li><a class="btn {% if not request.GET.category %}btn-primary{% endif %}" href="{% url 'core:list_post' %}">All</a></li>
                <li><a class="btn {% if request.GET.category == 'NWS' %}btn-primary{% endif %}" href=".?category=NWS">Top News</a></li>
                <li><a class="btn {% if request.GET.category == 'VID' %}btn-primary{% endif %}" href=".?category=VID">Viral Videos</a></li>
                <li><a class="btn {% if request.GET.category == 'ENT' %}btn-primary{% endif %}" href=".?category=ENT">Entertainment</a></li>
                <li><a class="btn {% if request.GET.category == 'MOT' %}btn-primary{% endif %}" href=".?category=MOT">Motivational</a></li>
            </ul>
            <ul class="list-inline">
                <li>
                    <select name="" id="post-sort" class="form-control form-dark">
                        <option value="">Sort by:</option>
                        <option value="-avg_rating" {% if request.GET.order_by == '-avg_rating' %}selected{% endif %}>Avg Rating</option>
                        <option value="-created" {% if request.GET.order_by == '-created' %}selected{% endif %}>Date Posted</option>
                    </select>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <button type="button" class="btn-secondary btn" data-toggle="modal" data-target="#addPost">Add post</button>
                </li>
                {% endif %}
            </ul>
        </div>
        <ul class="list list-posts-grid is-bordered">
            {% for post in posts %}
            {% with post.target as obj %}
            {% if obj|model_name == 'text' %}
            <li class="d-flex align-items-center">
                <div class="post-featured">
                    <a href="{{ post.get_absolute_url }}">
                        {% if obj.thumbnail %}
                        <img src="{{ obj.thumbnail.url }}" alt="">
                        {% else %}
                        <img src="https://cdn.pixabay.com/photo/2017/08/17/13/33/business-2651346_960_720.jpg" alt="">
                        {% endif %}
                    </a>
                </div>
                <div class="p-2">
                    <ul class="list-inline mb-1">
                        <li><span class="text-secondary">{{ post.get_category }}</span></li>
                        <li class="text-gray-200"><a href="{{ post.get_absolute_url }}"><i class="fas fa-comment-dots"></i> {{ post.num_comments }} comments</a></li>
                        <li class="bold text-secondary">Avg Rating - <span id="{{ post.id }}-avg-rating">{% if post.avg_rating %}{{ post.avg_rating|floatformat:2 }}{% else %}0.0{% endif %}</span> <span class="text-yellow"><i class="fas fa-star"></i></span></li>
                    </ul>
                    <ul class="list-inline is-bordered is-dark mb-1">
                        <li>
                            <h3 class="text-black">{{ post.title }}</h3>
                        </li>
                    </ul>
                    <p class="text-gray-200 font-md post-para mb-1">{{ post.description|safe }}</p>
                    <ul class="list-inline mb-1">
                        <li>
                            <div class="user-avatar is-sm">
                                {% if post.get_avatar_url %}
                                <img src="{{ post.get_avatar_url }}" alt="">
                                {% else %}
                                <img src="{% static 'img/base/avatar.png' %}" alt="">
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <p class="text-gray-200 font-sm">{{ post.user.full_name }} | {{ post.created|date:"D, d M, Y | P" }}</p>
                        </li>
                        <li>
                            <fieldset class="rating">
                                <input type="radio" id="{{ post.id }}-star5" name="{{ post.id }}-rating" value="5" {% if post.rated == 5.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4half" name="{{ post.id }}-rating" value="4.5" {% if post.rated == 4.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4" name="{{ post.id }}-rating" value="4" {% if post.rated == 4.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3half" name="{{ post.id }}-rating" value="3.5" {% if post.rated == 3.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3" name="{{ post.id }}-rating" value="3" {% if post.rated == 3.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2half" name="{{ post.id }}-rating" value="2.5" {% if post.rated == 2.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2" name="{{ post.id }}-rating" value="2" {% if post.rated == 2.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1half" name="{{ post.id }}-rating" value="1.5" {% if post.rated == 1.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1" name="{{ post.id }}-rating" value="1" {% if post.rated == 1.0 %}checked{% endif %}data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="{{ post.id }}-starhalf" name="{{ post.id }}-rating" value="0.5" {% if post.rated == 0.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </li>
                    </ul>
                </div>
            </li>
            {% elif obj|model_name == 'video' %}
            <li class="d-flex align-items-center">
                <div class="post-featured unscroll">
                    <div class="post-iframe-img-box">
                        <button class="btn btn-lg btn-link is-primary btn-modal-iframe" type="button" data-iframe="{{ obj.video_url }}"><i class="fas fa-play"></i></button>
                        <img class="post-iframe-img" src="{{ obj.img_url }}" alt="">
                    </div>
                    <iframe src="{{ obj.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="p-2">
                    <ul class="list-inline mb-1">
                        <li><span class="text-secondary">{{ post.get_category }}</span></li>
                        <li class="text-gray-200"><a href="{{ post.get_absolute_url }}"><i class="fas fa-comment-dots"></i> {{ post.num_comments }} comments</a></li>
                        <li class="bold text-secondary">Avg Rating - <span id="{{ post.id }}-avg-rating">{% if post.avg_rating %}{{ post.avg_rating|floatformat:2 }}{% else %}0.0{% endif %}</span> <span class="text-yellow"><i class="fas fa-star"></i></span></li>
                    </ul>
                    <ul class="list-inline is-bordered is-dark mb-1">
                        <li>
                            <h3 class="text-black">{{ post.title }}</h3>
                        </li>
                    </ul>
                    <p class="text-gray-200 font-md post-para mb-1">{{ post.description|safe }}</p>
                    <ul class="list-inline mb-1">
                        <li>
                            <div class="user-avatar is-sm">
                                {% if post.get_avatar_url %}
                                <img src="{{ post.get_avatar_url }}" alt="">
                                {% else %}
                                <img src="{% static 'img/base/avatar.png' %}" alt="">
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <p class="text-gray-200 font-sm">{{ post.user.full_name }} | {{ post.created|date:"D, d M, Y | P" }}</p>
                        </li>
                        <li>
                            <fieldset class="rating">
                                <input type="radio" id="{{ post.id }}-star5" name="{{ post.id }}-rating" value="5" {% if post.rated == 5.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4half" name="{{ post.id }}-rating" value="4.5" {% if post.rated == 4.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4" name="{{ post.id }}-rating" value="4" {% if post.rated == 4.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3half" name="{{ post.id }}-rating" value="3.5" {% if post.rated == 3.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3" name="{{ post.id }}-rating" value="3" {% if post.rated == 3.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2half" name="{{ post.id }}-rating" value="2.5" {% if post.rated == 2.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2" name="{{ post.id }}-rating" value="2" {% if post.rated == 2.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1half" name="{{ post.id }}-rating" value="1.5" {% if post.rated == 1.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1" name="{{ post.id }}-rating" value="1" {% if post.rated == 1.0 %}checked{% endif %}data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="{{ post.id }}-starhalf" name="{{ post.id }}-rating" value="0.5" {% if post.rated == 0.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </li>
                    </ul>
                </div>
            </li>
            {% elif obj|model_name == 'audio' %}
            <li class="d-flex align-items-center">
                <div class="post-featured">
                    <div class="post-overlay">
                        <button class="btn btn-lg btn-link is-primary audio-player" type="button"
                            data-audio="#{{ obj.id }}"><i class="fas fa-play"></i></button>
                        <audio id="{{ obj.id }}" src="{{ obj.audio_file.url }}" preload="auto"></audio>
                    </div>
                    {% if obj.thumbnail %}
                    <img src="{{ obj.thumbnail.url }}" alt="">
                    {% else %}
                    <img src="https://cdn.pixabay.com/photo/2016/03/28/09/36/music-1285165_960_720.jpg" alt="">
                    {% endif %}
                </div>
                <div class="p-2">
                    <ul class="list-inline mb-1">
                        <li><span class="text-secondary">{{ post.get_category }}</span></li>
                        <li class="text-gray-200"><a href="{{ post.get_absolute_url }}"><i class="fas fa-comment-dots"></i> {{ post.num_comments }} comments</a></li>
                        <li class="bold text-secondary">Avg - Rating <span id="{{ post.id }}-avg-rating">{% if post.avg_rating %}{{ post.avg_rating|floatformat:2 }}{% else %}0.0{% endif %}</span> <span class="text-yellow"><i class="fas fa-star"></i></span></li>
                    </ul>
                    <ul class="list-inline is-bordered is-dark mb-1">
                        <li>
                            <h3 class="text-black">{{ post.title }}</h3>
                        </li>
                    </ul>
                    <p class="text-gray-200 font-md post-para mb-1">{{ post.description|safe }}</p>
                    <ul class="list-inline mb-1">
                        <li>
                            <div class="user-avatar is-sm">
                                {% if post.get_avatar_url %}
                                <img src="{{ post.get_avatar_url }}" alt="">
                                {% else %}
                                <img src="{% static 'img/base/avatar.png' %}" alt="">
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <p class="text-gray-200 font-sm">{{ post.user.full_name }} | {{ post.created|date:"D, d M, Y | P" }}</p>
                        </li>
                        <li>
                            <fieldset class="rating">
                                <input type="radio" id="{{ post.id }}-star5" name="{{ post.id }}-rating" value="5" {% if post.rated == 5.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4half" name="{{ post.id }}-rating" value="4.5" {% if post.rated == 4.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4" name="{{ post.id }}-rating" value="4" {% if post.rated == 4.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3half" name="{{ post.id }}-rating" value="3.5" {% if post.rated == 3.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3" name="{{ post.id }}-rating" value="3" {% if post.rated == 3.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2half" name="{{ post.id }}-rating" value="2.5" {% if post.rated == 2.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2" name="{{ post.id }}-rating" value="2" {% if post.rated == 2.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1half" name="{{ post.id }}-rating" value="1.5" {% if post.rated == 1.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1" name="{{ post.id }}-rating" value="1" {% if post.rated == 1.0 %}checked{% endif %}data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="{{ post.id }}-starhalf" name="{{ post.id }}-rating" value="0.5" {% if post.rated == 0.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </li>
                    </ul>
                </div>
            </li>
            {% elif obj|model_name == 'link' %}
            <li class="d-flex align-items-center">
                <div class="post-featured is-overlay">
                    <a href="{{ post.get_absolute_url }}">
                        <div class="post-overlay">
                            <a class="btn btn-lg btn-link is-white" href="{{ obj.content_url }}" target="_blank"><i class="fas fa-link"></i></a>
                        </div>
                        <img src="{{ obj|audio_thumbnail }}" alt="">
                    </a>
                </div>
                <div class="p-2">
                    <ul class="list-inline mb-1">
                        <li><span class="text-secondary">{{ post.get_category }}</span></li>
                        <li class="text-gray-200"><a href="{{ post.get_absolute_url }}"><i class="fas fa-comment-dots"></i> {{ post.num_comments }} comments</a></li>
                        <li class="bold text-secondary">Avg Rating - <span id="{{ post.id }}-avg-rating">{% if post.avg_rating %}{{ post.avg_rating|floatformat:2 }}{% else %}0.0{% endif %}</span> <span class="text-yellow"><i class="fas fa-star"></i></span></li>
                    </ul>
                    <ul class="list-inline is-bordered is-dark mb-1">
                        <li>
                            <h3 class="text-black">{{ post.title }}</h3>
                        </li>
                    </ul>
                    <p class="text-gray-200 font-md post-para mb-1">{{ post.description|safe }}</p>
                    <ul class="list-inline mb-1">
                        <li>
                            <div class="user-avatar is-sm">
                                {% if post.get_avatar_url %}
                                <img src="{{ post.get_avatar_url }}" alt="">
                                {% else %}
                                <img src="{% static 'img/base/avatar.png' %}" alt="">
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <p class="text-gray-200 font-sm">{{ post.user.full_name }} | {{ post.created|date:"D, d M, Y | P" }}</p>
                        </li>
                        <li>
                            <fieldset class="rating">
                                <input type="radio" id="{{ post.id }}-star5" name="{{ post.id }}-rating" value="5" {% if post.rated == 5.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4half" name="{{ post.id }}-rating" value="4.5" {% if post.rated == 4.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star4" name="{{ post.id }}-rating" value="4" {% if post.rated == 4.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3half" name="{{ post.id }}-rating" value="3.5" {% if post.rated == 3.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star3" name="{{ post.id }}-rating" value="3" {% if post.rated == 3.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2half" name="{{ post.id }}-rating" value="2.5" {% if post.rated == 2.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star2" name="{{ post.id }}-rating" value="2" {% if post.rated == 2.0 %}checked{% endif %} data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1half" name="{{ post.id }}-rating" value="1.5" {% if post.rated == 1.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="{{ post.id }}-star1" name="{{ post.id }}-rating" value="1" {% if post.rated == 1.0 %}checked{% endif %}data-id="{{ post.id }}"/><label class = "full" for="{{ post.id }}-star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="{{ post.id }}-starhalf" name="{{ post.id }}-rating" value="0.5" {% if post.rated == 0.5 %}checked{% endif %} data-id="{{ post.id }}"/><label class="half" for="{{ post.id }}-starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}
            {% endwith %}
            {% endfor %}
        </ul>
    </section>
</div>

{% if request.user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="addPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="close btn btn-link h4" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pb-4 pt-2 px-4">
                <div id="step-1" class="mb-2">
                    <h3 class="text-secondary">Step 1 - What kind of post you want to share?</h3>
                    <ul class="list mb-2">
                        <li>
                            <label for="postText" class="radio mt-2"><input id="postText" type="radio" name="form" value="text" checked> <span class="flex-shrink-0"></span>Image</label>
                        </li>
                        <li>
                            <label for="postAudio" class="radio mt-2"><input id="postAudio" type="radio" name="form" value="audio"> <span class="flex-shrink-0"></span>Audio</label>
                        </li>
                        <li>
                            <label for="postVideo" class="radio mt-2"><input id="postVideo" type="radio" name="form" value="video"> <span class="flex-shrink-0"></span>Video</label>
                        </li>
                        <li>
                            <label for="postLink" class="radio mt-2"><input id="postLink" type="radio" name="form" value="link"> <span class="flex-shrink-0"></span>News Feeds</label>
                        </li>
                    </ul>
                    <button type="button" class="btn-primary btn" id="step-1-btn">Next</button>
                </div>
                <div id="step-2" class="mb-2" style="display: none;">
                    <h3 class="text-secondary mb-2">Step 2 - Enter Post Details</h3>
                    <ul class="list mb-2 list-lg">
                        <li>
                            <label for="">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Post Title" id="post-title" required>
                        </li>
                        <li>
                            <label for="">Category</label>
                            <select name="" class="form-control" id="post-cat" required>
                                <option value="NWS">News</option>
                                <option value="VID">Viral Video</option>
                                <option value="ENT">Entertainment</option>
                                <option value="MOT">Motivational</option>
                            </select>
                        </li>
                        <li>
                            <label for="">Description</label>
                            <textarea name="" class="form-control" rows="10" id="post-desc"></textarea>
                        </li>
                    </ul>
                    <button type="button" class="btn-secondary btn" id="step-2-bak">Back</button>
                    <button type="button" class="btn-primary btn" id="step-2-nxt">Next</button>
                </div>
                <div id="step-3" style="display: none;">
                    <h3 class="text-secondary mb-2">Step 3 - Enter Post Items</h3>
                    <form id="text-form" method="POST" enctype="multipart/form-data" style="display: none;">
                        <ul class="mb-2">
                            <li>
                                <label for="">Thumbnail</label>
                                <div class="form-input-file">
                                    <span class="file-name"></span>
                                    <span class="form-input-file-action"><span class="text-primary">Click</span> to upload text thumbnail</span>
                                    <input type="file" name="thumbnail" value="" accept="image/*" required>
                                </div>
                            </li>
                        </ul>
                        {% csrf_token %}
                        <button type="submit" class="btn-primary btn">Add Post</button>
                    </form>
                    <form id="audio-form" method="POST" enctype="multipart/form-data" style="display: none">
                        <ul class="list mb-2 list-lg">
                            <li>
                                <label for="">Thumbnail</label>
                                <div class="form-input-file">
                                    <span class="file-name"></span>
                                    <span class="form-input-file-action"><span class="text-primary">Click</span> to upload audio thumnail</span>
                                    <input type="file" name="thumbnail" value="" accept="image/*" required>
                                </div>
                            </li>
                            <li>
                                <label for="">File</label>
                                <div class="form-input-file">
                                    <span class="file-name"></span>
                                    <span class="form-input-file-action"><span class="text-primary">Click</span> to upload audio file</span>
                                    <input type="file" name="audio_file" value="" accept="audio/*" required>
                                </div>
                            </li>
                        </ul>
                        {% csrf_token %}
                        <button type="submit" class="btn-primary btn">Add Post</button>
                    </form>
                    <form id="video-form" method="POST" style="display: none;">
                        <ul class="mb-2">
                            <li>
                                <label for="">Url</label>
                                <input type="url" class="form-control" name="video_url" placeholder="Enter Video URL">
                            </li>
                        </ul>
                        {% csrf_token %}
                        <button type="submit" class="btn-primary btn">Add Post</button>
                    </form>
                    <form id="link-form" method="POST" style="display: none;">
                        <ul class="mb-2">
                            <li>
                                <label for="">Content Url</label>
                                <input type="url" class="form-control" name="content_url" placeholder="Enter Link URL">
                            </li>
                        </ul>
                        {% csrf_token %}
                        <button type="submit" class="btn-primary btn">Add Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% endif %}



<!-- Video Modal -->
<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="addPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="close btn btn-link h4" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pb-4 pt-2 px-4">
                <iframe src="" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal -->

<script>
    $('.audio-player').click(function () {
        var el = $(this);
        var audio = document.querySelector(el.attr('data-audio'));
        if (audio.paused) {
            audio.play();
            el.find('i').toggleClass('fa-play fa-pause');
        } else {
            audio.pause();
            el.find('i').toggleClass('fa-play fa-pause');
        }
        audio.onended = function () {
            el.find('i').removeClass('fa-pause');
            el.find('i').addClass('fa-play');
        };
    })

    $(document).ready(function() {
        $('.btn-modal-iframe').click(function() {
            var iframe_src = $(this).attr('data-iframe');
            $('#video iframe').attr('src', iframe_src);
            $('#video').modal('show');
        });

        $('#video').on('hidden.bs.modal', function() {
            $('#video iframe').attr('src', '');
        });

        $('.rating input').change(function(e) {
            e.preventDefault();
            var in_el = $(this);
            var value = $(this).attr('value');
            var id = $(this).attr('data-id');
            $.ajax({
                url : '{% url "core:rate_post" %}',
                type : 'POST',
                data : {
                    'id' : id,
                    'value' : value
                },
                success : function(d) {
                    if (d.status == 'failed') {
                        in_el.prop('checked', false);
                        $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+d.message+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    } else {
                        in_el.prop('checked', true);
                        $('#'+id+'-avg-rating').text(d.avg);
                        $('#inf-msg-box .alert-list').append('<li class="is-success"><div class="alert-details"><strong>Success:</strong> Post Rated Successfully!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    }
                },
                error : function(xhr, status, error) {
                    in_el.prop('checked', false);
                    $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+xhr['responseText']+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                    removeInfo();
                }
            });
        });

        $('#post-sort').change(function(e) {
            e.preventDefault();
            if (this.value != '') {
                if (window.location.search) {
                    window.location.href = window.location.href + '&order_by=' + this.value;
                } else {
                    window.location.href = '.?order_by=' + this.value;
                }
            }
        })

    });
</script>
{% if request.user.is_authenticated %}
<script>
    $(document).ready(function() {
        $('#step-1-btn').click(function() {
            var ct = $('#step-1 input[type=radio]:checked').val();
            console.log(ct);
            if (ct == 'text') {
                $('#text-form').show();
            } else if (ct == 'audio') {
                $('#audio-form').show();
            } else if (ct == 'video') {
                $('#video-form').show();
            } else if (ct == 'link') {
                $('#link-form').show();
            }
            $('#step-2-nxt').attr('data-ct', ct);
            $('#step-1').hide();
            $('#step-2').show();
        });

        $('#step-2-bak').click(function() {
            $('#step-1').show();
            $('#step-2').hide();
        });

        $('#step-2-nxt').click(function() {
            $('#step-2-nxt').html('<i class="fas fa-spinner fa-spin"></i>');
            var ct = $(this).attr('data-ct');

            if (!document.getElementById('post-title').checkValidity()) {
                $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Post title cannot be blank!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                removeInfo();
                return false;
            }
            if ($('#post-desc').val() == '') {
                $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Post description cannot be blank!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                removeInfo();
                return false;
            }

            var title = $('#post-title').val();
            var cat = $('#post-cat').find(':selected').val();
            var desc = $('#post-desc').val();
            $.ajax({
                url : '{% url "core:create_post" %}',
                type : 'POST',
                data : {
                    'title' : title,
                    'category' : cat,
                    'description' : desc
                },
                success : function(d) {
                    $('#step-2-nxt').html('Next');
                    if (d.status == 'failed') {
                        $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+d.message+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    } else {
                        var post_id = d.post_id;
                        if (ct == 'text') {
                            $('#text-form').attr('action', '/posts/content/add/'+ post_id +'/'+ ct +'/');
                        } else if (ct == 'audio') {
                            $('#audio-form').attr('action', '/posts/content/add/'+ post_id +'/'+ ct +'/');
                        } else if (ct == 'video') {
                            $('#video-form').attr('action', '/posts/content/add/'+ post_id +'/'+ ct +'/');
                        } else if (ct == 'link') {
                            $('#link-form').attr('action', '/posts/content/add/'+ post_id +'/'+ ct +'/');
                        }
                        $('#step-2').hide();
                        $('#step-3').show();
                    }
                },
                error : function(xhr, status, error) {
                    $('#step-2-nxt').html('Next');
                    $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+xhr['responseText']+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                    removeInfo();
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}