{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
{% load post %}
<div class="content is-full py-3 px-4 scrollbox">
    <section class="mb-4">
        <h2 class="text-secondary mb-1">Comments</h2>
        <ul class="list list-lg" id="comments-list">
            {% for obj in objs %}
            <li class="bg-white p-2 br-15 shadow-1" id="{{ obj.id }}">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="appended-here mr-3">
                        <p class="font-sm mb-1 text-gray-200">{{ obj.created|date:"D, d M, Y | P" }}</p>
                        {{ obj.content|safe }}
                    </div>
                    <div class="flex-shrink-0">
                        <a href="javascript:void(0)" data-id="{{ obj.id }}" data-model="{{ obj|model_name }}" class="btn btn-secondary approve-btn btn-xs"><i class="fas fa-check"></i></a>
                        <a href="javascript:void(0)" data-id="{{ obj.id }}" data-model="{{ obj|model_name }}" class="btn btn-primary reject-btn btn-xs"><i class="fas fa-times"></i></a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
<script>
    $(document).ready(function() {

        var admin_comments_host = 'wss://gyaanstation.com/rt/admin/monitor/'
        try {
            var socket = new WebSocket(admin_comments_host);

            socket.onopen = function() {
                console.log(socket.readyState);
            }

            socket.onerror = function(e) {
                console.log(e);
            }

            socket.onmessage = function(msg) {
                var data = JSON.parse(msg.data)
                if (data['action'] == 'INF') {
                    $("#comments-list").prepend('<li class="bg-white p-2 br-15 shadow-1" id="'+ data['id'] +'"><div class="d-flex align-items-center justify-content-between"><div class="appended-here mr-3"><p class="font-sm mb-1 text-gray-200">'+ data['created'] +'</p>'+ data['content'] +'</div><div class="flex-shrink-0"><a href="javascript:void(0)" data-id="'+ data['id'] +'" data-model="'+ data['model'] +'" class="btn btn-secondary approve-btn btn-xs"><i class="fas fa-check"></i></a><a href="javascript:void(0)" data-id="'+ data['id'] +'" data-model="'+ data['model'] +'" class="btn btn-primary reject-btn btn-xs"><i class="fas fa-times"></i></a></div></div></li>');
                } else {
                    if (data['success']) {
                        $('#'+data['id']).remove();
                    } else {
                        $('#'+data['id']).css('background-color', '#fce0e0');
                    }
                }
            }

        } catch(exception) {
            alert('Connection rejected, permission denied.');
        }

        $('#comments-list').on('click', '.approve-btn', function(e) {
            e.preventDefault();
            socket.send(JSON.stringify({
                'action' : 'APP',
                'id' : $(this).attr('data-id'),
                'model' : $(this).attr('data-model')
            }));
        });

        $('#comments-list').on('click', '.reject-btn', function(e) {
            e.preventDefault();
            socket.send(JSON.stringify({
                'action' : 'REJ',
                'id' : $(this).attr('data-id'),
                'model' : $(this).attr('data-model')
            }));
        });
    });
</script>
{% endblock %}
