{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
<script src="{% static 'js/cropper.min.js' %}"></script>
<div class="content is-full py-3 px-4 scrollbox">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <section class="mb-4">
                <h2 class="text-secondary mb-4">View/Edit Profile</h2>
                <div class="row">
                    <div class="col-md-2">
                        <div class="d-block d-centered is-lg mb-2 user-avatar">
                            {% if pic %}
                            <img src="{{ pic }}" alt="">
                            {% else %}
                            <img src="{% static 'img/base/avatar.png' %}"
                                alt="">
                            {% endif %}
                        </div>
                        <a href="#" class="btn btn-primary bold text-center">Get Premium Member</a>
                    </div>
                    <div class="col-md-10">
                        <form action="." method="POST" enctype="multipart/form-data">
                            <div class="row mb-2">
                                <div class="col-md-6 mb-xs-2">
                                    {% if u_form.first_name.errors %}
                                    <ul class="error-list mb-2">
                                        {% for err in u_form.first_name.errors %}
                                        <li class="is-danger"><div class="alert-details">{{ err }}</div></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <label for="" class="text-gray-600 bold">First Name</label>
                                    <input type="text" class="form-control" placeholder="Example: John" name="first_name" value="{% if u_form.first_name.value %}{{ u_form.first_name.value }}{% endif %}">
                                </div>
                                <div class="col-md-6">
                                    {% if u_form.last_name.errors %}
                                    <ul class="error-list mb-2">
                                        {% for err in u_form.last_name.errors %}
                                        <li class="is-danger"><div class="alert-details">{{ err }}</div></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <label for="" class="text-gray-600 bold">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Example: Paul" name="last_name" value="{% if u_form.last_name.value %}{{ u_form.last_name.value }}{% endif %}">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-3 mb-xs-2">
                                    {% if m_form.gender.errors %}
                                    <ul class="error-list mb-2">
                                        {% for err in m_form.gender.errors %}
                                        <li class="is-danger"><div class="alert-details">{{ err }}</div></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <label for="" class="text-gray-600 bold">Gender</label>
                                    <select name="gender" class="form-control" required="" id="id_gender">
                                        <option value="" {% if not m_form.gender.value %}selected{% endif %}>---------</option>
                                        <option value="M" {% if m_form.gender.value == 'M' %}selected{% endif %}>Male</option>
                                        <option value="F" {% if m_form.gender.value == 'F' %}selected{% endif %}>Female</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    {% if m_form.profile_pic.errors %}
                                    <ul class="error-list mb-2">
                                        {% for err in m_form.profile_pic.errors %}
                                        <li class="is-danger"><div class="alert-details">{{ err }}</div></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <label for="" class="text-gray-600 bold">Image</label>
                                    <div class="form-input-file">
                                        <span class="file-name"></span>
                                        <span class="form-input-file-action"><span class="text-primary">Click</span> to upload files</span>
                                        <input id="id_prof_pic" type="file" name="profile_pic" value="{% if m_form.profile_pic.value %}{{ m_form.profile_pic.value }}{% endif %}" accept="image/*">
                                    </div>
                                    {{ m_form.x }}
                                    {{ m_form.y }}
                                    {{ m_form.width }}
                                    {{ m_form.height }}
                                </div>
                                <div class="col-md-5">
                                    <label class="text-gray-600 bold">Stay Anonymous</label>
									<div class="mb-05">
										<label for="ano-check" class="radio mt-1"><input id="ano-check" type="checkbox" name="form" value="ano-check" {% if anonymous %}checked{% endif %}> <span class="flex-shrink-0"></span> {% if anonymous %}Uncheck to disable anonymity{% else %}Check to set username{% endif %}</label>
									</div>
									<div class="popup-container">
                                        <div class="popup" id="anonymous">
                                            <div class="fieldset bg-white">
                                                <div>
                                                    <div class="mb-1">
                                                        <div class="input-group">
                                                            <div class="input-icon">
                                                                <i class="fas fa-user text-truecaller"></i>
                                                            </div>
                                                            <div class="input-text md-form">
                                                                <input type="text" class="form-control" id="uname" placeholder="Your username">
                                                                <label for="">Username</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button id="ano-btn" type="button" class="btn btn-primary">Save</button>
                                                </div>
                                                <div class="text-center" id="ano-loader" style="display: none;">
                                                    <img src="/static/img/base/loader.gif" class="d-block d-centered img-responsive" alt="">
                                                    <p class="font-sm">Please wait . . .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<p class="text-primary bold">Username - <span {% if not anonymous %}class="text-gray-300"{% endif %} id="uname-label">{% if anonymous %}{{ request.user.username }}{% else %}N/A{% endif %}</span></p>
                                </div>
                            </div>
                            <div class="mb-2">
                                {% if u_form.email.errors %}
                                <ul class="error-list mb-2">
                                    {% for err in u_form.email.errors %}
                                    <li class="is-danger"><div class="alert-details">{{ err }}</div></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <label for="" class="text-gray-600 bold">Email</label>
                                <input type="email" class="form-control" placeholder="Example: john23@example.com" name="email" value="{% if u_form.last_name.value %}{{ u_form.email.value }}{% endif %}">
                            </div>
                            <div class="mb-2">
                                {% if m_form.phone_no.errors %}
                                <ul class="error-list mb-2">
                                    {% for err in m_form.phone_no.errors %}
                                    <li class="is-danger"><div class="alert-details">{{ err }}</div></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <label for="" class="text-gray-600 bold">Phone Number</label>
                                <input type="text" class="form-control" name="phone_no" value="{% if m_form.phone_no.value %}{{ m_form.phone_no.value }}{% endif %}" required>
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-md">Submit</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="img-crop-modal" tabindex="-1" role="dialog" aria-labelledby="addPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="close btn btn-link h4" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pb-4 pt-2 px-4">
                <img src="" id="modal-image" style="max-width: 100%;">
            </div>
            <div class="modal-footer justify-content-between">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <i class="fas fa-search-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <i class="fas fa-search-minus"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-primary js-crop-and-upload">Crop and set</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#id_prof_pic').change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#modal-image').attr('src', e.target.result);
                    $('#img-crop-modal').modal('show');
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        var $modal_image = $('#modal-image');
        var cropBoxData;
        var canvasData;
        $('#img-crop-modal').on('show.bs.modal', function() {
            $modal_image.cropper({
                viewMode : 1,
                aspectRatio : 1/1,
                minCropBoxWidth : 200,
                minCropBoxHeight : 200,
                ready : function() {
                    $modal_image.cropper('setCanvasData', canvasData);
                    $modal_image.cropper('setCropBoxData', cropBoxData);
                }
            });
        }).on('hidden.bs.modal', function() {
            cropBoxData = $modal_image.cropper('getCropBoxData');
            canvasData = $modal_image.cropper('getCanvasData');
            $modal_image.cropper('destroy');
        });

        $('.js-zoom-in').click(function() {
            $modal_image.cropper('zoom', 0.1);
        });

        $('.js-zoom-out').click(function() {
            $modal_image.cropper('zoom', -0.1);
        });

        $('.js-crop-and-upload').click(function() {
            var cropData = $modal_image.cropper('getData');
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $('#img-crop-modal').modal('hide');
        });

        $('#ano-check').change(function() {
            in_el = $(this);
            if (!this.checked) {
                $.ajax({
                    url : '{% url "core:set_anonymous" %}',
                    type : 'POST',
                    data : {
                        'state' : 'off',
                    },
                    success : function(d) {
                        if (d.status == 'failed') {
                            in_el.prop('checked', true);
                            $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Error changing anonymous status!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                            removeInfo();
                        } else {
                            in_el.prop('checked', false);
                            $('#uname-label').addClass('text-gray-300');
                            $('#inf-msg-box .alert-list').append('<li class="is-success"><div class="alert-details"><strong>Success:</strong> Anonymous status changed successfully!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                            removeInfo();
                        }
                    },
                    error : function(xhr, status, error) {
                        in_el.prop('checked', true);
                        $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+xhr['responseText']+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    }
                });
            } else {
                $('#anonymous').toggleClass('open');
            }
        });

        $('#uname').keypress(function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                if (!document.getElementById('uname').checkValidity()) {
                    $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Username cannot be blank!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                    removeInfo();
                    return false;
                }
                anoOn();
            }
        });

        $('#ano-btn').click(function(e) {
            e.preventDefault();
            if (!document.getElementById('uname').checkValidity()) {
                $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Username cannot be blank!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                removeInfo();
                return false;
            }
            anoOn();
        });

        function anoOn() {
            $('#ano-loader').show();
            var username = $('#uname').val();
            $.ajax({
                url : '{% url "core:set_anonymous" %}',
                type : 'POST',
                data : {
                    'state' : 'on',
                    'username' : username
                },
                success : function(d) {
                    $('#anonymous').toggleClass('open');
                    $('#ano-loader').hide();
                    if (d.status == 'failed') {
                        in_el.prop('checked', false);
                        $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Username already exists! Please try again.</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    } else {
                        in_el.prop('checked', true);
                        $('#uname-label').removeClass('text-gray-300');
                        $('#uname-label').text(username);
                        $('#inf-msg-box .alert-list').append('<li class="is-success"><div class="alert-details"><strong>Success:</strong> Anonymous status changed successfully!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    }
                },
                error : function(xhr, status, error) {
                    $('#anonymous').toggleClass('open');
                    $('#ano-loader').hide();
                    in_el.prop('checked', true);
                    $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+xhr['responseText']+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                    removeInfo();
                }
            });
        }

    });
</script>
{% endblock %}