{% extends "base.html" %}
{% load staticfiles %}
{% load mentor %}
{% block title %}{% endblock %}
{% block content %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>
<div class="content is-full py-3 px-4 scrollbox">
    <div class="row">
        <div class="col-md-3 mb-xs-3 divider-rt">
            <div class="mb-3">
                <div class="user-avatar is-lg mb-2">
                    {% if mentor.profile_pic %}
                    <img src="{{mentor.profile_pic.url}}" alt="">
                    {% else %}
                    <img src="{% static 'img/base/avatar.png' %}" alt="">
                    {% endif %}
                </div>
                <div class="user-details">
                    <h2 class="normal text-secondary">{{ mentor.user.full_name }}</h2>
                    <p class="text-gray-400 bold mb-1">Information Technology</p>
                    {% if request.user.is_authenticated and request.user|is_mentee %}
                    <div class="mb-2">
                        <a href="javascript:void(0)" class="btn btn-rounded btn-primary bold" id="follow-btn" data-id="{{ mentor.id }}" data-num="{{ followers }}">{% if mentor not in request.user.mentee.following.all %}Follow{% else %}Unfollow{% endif %}</a>
                        <a href="javascript:void(0)" class="btn btn-rounded btn-secondary bold" id="like-btn" data-id="{{ mentor.id }}" data-num="{{ likes }}">{% if request.user not in mentor.likes.all %}Like{% else %}Unlike{% endif %}</a>
                    </div>
                    {% endif %}
                    <ul class="list-inline">
                        <li>
                            <p class="text-gray-600 h5 mb-0 bold" id="followers-count">{{ followers|convert_int }}</p>
                            <p class="text-gray-200 font-sm">Followers</p>
                        </li>
                        <li>
                            <p class="text-gray-600 h5 mb-0 bold" id="likes-count">{{ likes|convert_int }}</p>
                            <p class="text-gray-200 font-sm">Likes</p>
                        </li>
                    </ul>
                </div>
            </div>
            <h2 class="text-secondary mb-2">Biography</h2>
            {{ mentor.bio|safe }}
        </div>
        <div class="col-md-9">
            <section class="scrollbox mb-4" style="max-height: 46vh">
                <h2 class="text-secondary mb-1">Message Board</h2>
                <ul class="list list-comments">
                    {% for message in m_messages %}
                    <li>
                        <article>
                            <ul class="list-inline">
                                <li>
                                    <div class="user-avatar is-sm">
                                        {% if message.get_avatar_url %}
                                        <img src="{{ message.get_avatar_url }}" alt="">
                                        {% else %}
                                        <img src="{% static 'img/base/avatar.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                </li>
                                <li>
                                    <p class="text-gray-200 font-sm">{{ message.user.full_name }} | {{ message.created|date:"D, d M, Y | P" }}</p>
                                </li>
                            </ul>

                            <div class="d-flex align-items-center justify-content-between">
                                <div class="comment-para" style="margin-left: 40px;">
                                    {{ message.content|safe }}
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="#" class="btn bold is-primary btn-link reply-btn" data-id="{{ message.id }}">Reply</a>
                                </div>
                            </div>
                        </article>
                        {% with message|approved_responses as responses %}
                        {% if responses|length > 0 %}
                        <ul class="list">
                            {% for response in responses  %}
                            <li>
                                <ul class="list-inline">
                                    <li>
                                        <div class="user-avatar is-sm">
                                            {% if response.get_avatar_url %}
                                            <img src="{{ response.get_avatar_url }}" alt="">
                                            {% else %}
                                            <img src="{% static 'img/base/avatar.png' %}" alt="">
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <p class="text-gray-200 font-sm">{{ response.user.full_name }} | {{ response.created|date:"D, d M, Y | P" }}</p>
                                    </li>
                                </ul>
                                <div class="comment-para" style="margin-left: 40px;">
                                    {{ response.resp_content|safe }}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <form action="." method="POST">
                    <p class="font-sm text-gray-200 italic"><em>*Messages will be displayed once verified.</em></p>
                    <div class="mb-2">
                        {% if form.content.errors %}
                        <ul class="error-list">
                            {% for err in form.content.errors %}
                            <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ form.content }}
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </form>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="reply-modal" tabindex="-1" role="dialog" aria-labelledby="addPostLabel" aria-hidden="true" data-auth="{{ request.user.is_authenticated }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="close btn btn-link h4" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pb-4 pt-2 px-4">
                <h2 class="mb-1">Send Reply</h2>
                <form method="POST" id="reply-form">
                    {{ resp_form.resp_content }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary js-crop-and-upload mt-2">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#follow-btn').click(function(e) {
            e.preventDefault();
            var m_id = $(this).data('id');
            var num = $(this).data('num');
            $.ajax({
                url : '{% url "core:follow_mentor" %}',
                type : 'POST',
                data : {
                    'id' : m_id
                },
                success : function(d) {
                    if (d.status == 'success') {
                        $('#followers-count').text(d.followers);
                        if ($('#follow-btn').text() === 'Follow') {
                            $('#follow-btn').text('Unfollow');
                        } else {
                            $('#follow-btn').text('Follow');
                        }
                    } else{
                        console.log(d.message)
                    }
                },
                error : function(xhr, status, error) {
                    console.log(error);
                }
            });
        });

        $('#like-btn').click(function(e) {
            e.preventDefault();
            var m_id = $(this).data('id');
            var num = $(this).data('num');
            $.ajax({
                url : '{% url "core:like_mentor" %}',
                type : 'POST',
                data : {
                    'id' : m_id
                },
                success : function(d) {
                    if (d.status == 'success') {
                        $('#likes-count').text(d.likes);
                        if ($('#like-btn').text() === 'Like') {
                            $('#like-btn').text('Unlike');
                        } else {
                            $('#like-btn').text('Like');
                        }
                    } else{
                        $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+d.message+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                        removeInfo();
                    }
                },
                error : function(xhr, status, error) {
                    $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> '+xhr['responseText']+'</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                    removeInfo();
                }
            });
        });

        $('.reply-btn').click(function() {
            var auth = $('#reply-modal').attr('data-auth');
            if (auth == 'False') {
                $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Please sign-in to reply!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                removeInfo();
                return;
            }
            var msg_id = $(this).attr('data-id');
            $('#reply-form').attr('action', '/message/respond/'+ msg_id +'/');
            $('#reply-modal').modal('show');
        });
    });
</script>
{% endblock %}