{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<div class="content py-3 px-4 scrollbox">
    <section class="mb-4">
        <ul class="list-mentors">
            {% for mentor in mentors %}
            <li class="br-15 shadow-1 bg-white text-center">
                <a href="{{ mentor.get_absolute_url }}">
                    <div class="p-2 border-bottom border-light">
                        <div class="user-avatar d-centered mb-1">
                            {% if mentor.profile_pic %}
                            <img src="{{mentor.profile_pic.url}}" alt="">
                            {% else %}
                            <img src="{% static 'img/base/avatar.png' %}" alt="">
                            {% endif %}
                        </div>
                        <h4 class="text-secondary">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</h4>
                        <p class="text-gray-200">{{ mentor.industry }}</p>
                        <p class="text-primary bold">{{ mentor.designation }}</p>
                    </div>
                    <div class="p-2">
                        <div class="text-truncate">{{ mentor.bio|safe }}</div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
<div class="sidebar is-rt">
    <div class="p-2">
        <h3 class="title">Top Posts</h3>
        <div class="scrollbox">
            <ul class="list list-lg">
                {% for post in posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">
                        <div class="br-15 shadow-1 bg-white p-2">
                            <h4 class="text-gray-400">{{ post.title }}</h4>
                            <p class="text-gray-100 semibold mb-2">{{ post.user.full_name }} - {{ post.created|date:"d-m-Y" }}</p>
                            <p class="article-meta">{{ post.description|safe }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}