{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/base/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/img/base/favicon.png" type="image/x-icon">

    <!-- Font Families -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Global Stylesheet -->
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <main class="wrapper">
        <div class="wrapper-inner">
            <div class="sidebar is-lt">
                <div class="sidebar__header">
                    <a href="/" class="sidebar__logo d-block">
                        <img src="/static/img/base/logo.png" alt="">
                    </a>
                </div>
                <div class="sidebar__body p-1">
                    <div class="sidebar__vd mb-4 br-08">
                        <!-- Video Here -->
                    </div>
                    <div class="vd__time">
                        <h2>Sun 12:30 PM</h2>
                    </div>
                    <div class="vd__topic mt-2">
                        <h3 class="text-primary">Stay Tuned for Live Gyaan Session</h3>
                    </div>
                </div>
                <div class="sidebar__footer bg-primary py-1">
                    <ul class="list-inline is-bordered">
                        <li><a href="{% url 'core:privacy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'core:terms' %}">Terms</a></li>
                    </ul>
                </div>
            </div>

            <div class="main-content">
                <header class="header">
                    <div class="header__sm">
                        <a href="/">
                            <img src="/static/img/base/logo-dark.png" alt="">
                        </a>
                    </div>
                    <ul class="list-inline nav nav__lt">
                        <li><a href="{% url 'core:list_mentor' %}" class="{% if 'mentor' in section %}active{% endif %}">Gyaan Guru</a></li>
                        <li><a href="{% url 'core:live_stream' %}" class="{% if 'stream' in section %}active{% endif %}">Gyaan Live</a></li>
                        <li><a href="{% url 'core:list_post' %}" class="{% if 'post' in section %}active{% endif %}">Gyaan Dunia</a></li>
                    </ul>
                    <ul class="list-inline nav nav__rt">
                        {% if section != 'index' and not user.is_authenticated %}
                        <li class="login__btn">
                            <a href="{% url 'core:index' %}" class="btn btn-primary btn-outline">Login</a>
                        </li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <li class="header__sm-btn">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal"
                                class="btn btn-primary btn-outline">Login</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li>
                            <div class="user-dropdown user">
                                <div class="user-avatar is-sm">
                                    {% if user.mentee.profile_pic %}
                                    <img src="{{ user.mentee.profile_pic.url }}"
                                        alt="">
                                    {% else %}
                                    <img src="{% static 'img/base/avatar.png' %}"
                                        alt="">
                                    {% endif %}
                                </div>
                                <a href="javascript:void(0)" class="align-items-start d-flex"><span class="mr-1">{{ user.first_name }} {{ user.last_name }}</span> <i class="fas fa-sort-down"></i></a>
                                <ul class="user-dropdown-sub">
                                    <li class="user p-1 bg-primary text-white">
                                        <div class="user-avatar is-sm">
                                            {% if user.mentee.profile_pic %}
                                            <img src="{{ user.mentee.profile_pic.url }}"
                                                alt="">
                                            {% else %}
                                            <img src="{% static 'img/base/avatar.png' %}"
                                                alt="">
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                        </div>
                                    </li>
                                    <li class="p-1">
                                        <ul class="list">
                                            <li><a href="{% url 'core:user_profile' %}"><i class="fas fa-user mr-1"></i> Account Profile</a></li>
                                            <li><a href="{% url 'core:logout' %}"><i class="fas fa-sign-out-alt mr-1"></i> Log Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </header>
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="inf-msg-box">
            <ul class="alert-list">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == "error" %}
                <li class="is-danger">
                    <div class="alert-details">
                        <strong>Error:</strong> {{ message|safe }}
                    </div>
                    <a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a>
                </li>
                {% else %}
                <li class="is-success">
                    <div class="alert-details">
                        <strong>Success:</strong> {{ message|safe }}
                    </div>
                    <a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </main>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="account-wrapper">
                        <div class="text-right">
                            <button type="button" class="btn btn-link h3" data-dismiss="modal">×</button>
                        </div>
                        <div class="mb-2">
                            <h2 class="bold h4 text-secondary">Welcome Back!</h2>
                            <p class="text-gray-200 font-lg">Login to your account</p>
                        </div>

                        <div class="mb-1">
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn bg-facebook btn-block btn-icon">
                                <div class="btn-icon-in"><i class="fab fa-facebook-f"></i></div>
                                <span class="btn-text">Login with Facebook</span>
                            </a>
                        </div>

                        <div class="mb-1">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn bg-google btn-block btn-icon">
                                <div class="btn-icon-in"><i class="fab fa-google"></i></div>
                                <span class="btn-text">Login with Google</span>
                            </a>
                        </div>

                        <div class="mb-1 popup-container">
                            <button class="btn bg-truecaller btn-block btn-icon" data-toggle="popup"
                                data-target="#m-truecaller">
                                <div class="btn-icon-in icon-truecaller"><i class="fas fa-phone"></i></div>
                                <span class="btn-text">Login with Truecaller</span>
                            </button>
                            <div class="popup" id="m-truecaller">
                                <div class="fieldset bg-white">
                                    <form action="" id="m-true-form">
                                        <div class="mb-2">
                                            <div class="input-group">
                                                <div class="icon-truecaller input-icon">
                                                    <i class="fas fa-phone text-truecaller"></i>
                                                </div>
                                                <div class="input-text md-form">
                                                    <input type="tel" class="form-control" maxlength="10"
                                                        placeholder="Your truecaller number" id="m-true-num">
                                                    <label for="">Number</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="m-true-login-btn" type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                    <div class="text-center" style="display: none;" id="m-true-loader">
                                        <img src="/static/img/base/loader.gif" class="d-block d-centered img-responsive" alt="">
                                        <p class="font-sm" id="m-true-msg">Please wait, or grant the permission on your mobile application to login</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#m-true-form').submit(function(e){
                e.preventDefault();
                $('#m-true-form').hide();
                $('#m-true-loader').show();
                function asyncLogin() {
                    $.ajax({
                        url : '{% url "core:truecaller_login" %}',
                        type : 'POST',
                        data : {
                            'phone_number' : $('#m-true-num').val()
                        },
                        success : function(d){
                            if (d.status === 'Success') {
                                $('#m-true-msg').text('Permission granted, Login Successful!');
                                clearInterval(intervalLogin);
                                location.reload();
                            }
                        }
                    });
                }
                var intervalLogin = setInterval(asyncLogin, 5000);
            });

            $('.alert-list').on('click', '.alert-dismiss', function(e) {
                e.preventDefault();
                $(this).parent().remove();
            });

        });
        function removeInfo() {
            $('.alert-list > li').each(function(i){
                if ( i === 0) {
                    $(this).delay(2000).fadeOut('slow', function(){
                        $(this).remove();
                    });
                }
                $(this).delay(i * 4000).fadeOut('slow', function(){
                    $(this).remove();
                });
            })
        }
    </script>

    <!-- Global Scripts -->
    <script src="/static/js/script.js"></script>
    <script type="text/javascript">
		function csrfSafeMethod(e){return/^(GET|HEAD|OPTIONS|TRACE)$/.test(e)}var csrftoken=Cookies.get('csrftoken');$.ajaxSetup({beforeSend:function(e,t){csrfSafeMethod(t.type)||this.crossDomain||e.setRequestHeader("X-CSRFToken",csrftoken)}});
	</script>
</body>

</html>