{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Gyaanstation | Terms & Conditions{% endblock %}
{% block content %}
<div class="content is-full py-3 px-4 scrollbox">
    <section class="mb-4">
        <h2 class="text-secondary mb-1">Terms and Conditions</h2>
        <!-- Terms here -->
    </section>
</div>
{% endblock %}