{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
{% load stream %}
<script type="text/javascript" src='{% static "ckeditor/ckeditor-init.js" %}'></script>
<script type="text/javascript" src='{% static "ckeditor/ckeditor/ckeditor.js" %}'></script>
<div class="content is-full py-3 px-4 scrollbox">
    <section class="mb-4">
        <div class="row">
            <div class="col-md-9">
                <ul class="list list-posts-grid">
                    <li class="d-flex align-items-center">
                        <div class="post-featured">
                            <iframe src="{{ stream.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="p-2">
                            <h2 class="text-black mb-1">{{ stream.title }}</h2>
                            <ul class="list-inline mb-1">
                                <li>
                                    <div class="user-avatar is-sm">
                                        <img src="{% static 'img/base/avatar.png' %}"
                                            alt="">
                                    </div>
                                </li>
                                <li>
                                    <p class="text-gray-200 font-sm">Tom Hardy | October 23, 2018</p>
                                </li>
                                <li>

                                </li>
                            </ul>
                            <!-- <a href="#" class="btn btn-link is-dark">Stream Live <i class="fas fa-long-arrow-alt-right"></i></a> -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mt-1">
                <div class="bg-primary gradient p-2 br-15 shadow text-white text-center">
                    <h2 class="mb-1">Go Premium</h2>
                    <p>Get Premium Membership to chat on Live Session</p>
                    <a href="#" class="btn btn-white">Click Here</a>
                </div>
            </div>
        </div>
    </section>

    <h2 class="text-secondary mb-1">Message Board</h2>
    <section class="scrollbox mb-4" style="max-height: 45vh">
        <ul class="list list-comments">
            {% for message in stream_messages %}
            <li>
                <article>
                    <ul class="list-inline">
                        <li>
                            <div class="user-avatar is-sm">
                                {% if message.get_avatar_url %}
                                <img src="{{ message.get_avatar_url }}" alt="">
                                {% else %}
                                <img src="{% static 'img/base/avatar.png' %}" alt="">
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <p class="text-gray-200 font-sm">{{ message.user.full_name }} | {{ message.created|date:"D, d M, Y | P" }}</p>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="comment-para" style="margin-left: 40px;">
                            {{ message.content|safe }}
                        </div>
                        <div class="flex-shrink-0">
                            <a href="#" class="btn bold is-primary btn-link reply-btn" data-id="{{ message.id }}">Reply</a>
                        </div>
                    </div>
                </article>
                {% with message|approved_responses as responses %}
                {% if responses|length > 0 %}
                <ul class="list">
                    {% for response in responses  %}
                    <li>
                        <ul class="list-inline">
                            <li>
                                <div class="user-avatar is-sm">
                                    {% if response.get_avatar_url %}
                                    <img src="{{ response.get_avatar_url }}" alt="">
                                    {% else %}
                                    <img src="{% static 'img/base/avatar.png' %}" alt="">
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <p class="text-gray-200 font-sm">{{ response.user.full_name }} | {{ response.created|date:"D, d M, Y | P" }}</p>
                            </li>
                        </ul>
                        <div class="comment-para" style="margin-left: 40px;">
                            {{ response.resp_content|safe }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="mb-4">
        <form action="." method="POST">
            <p class="font-sm text-gray-200 italic"><em>*Messages will be displayed once verified.</em></p>
            <p class="font-sm text-gray-200 italic"><em>*Only Premium users can post messages on Live sessions.</em></p>
            <div class="mb-2">
                {{ form.content }}
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-md">Submit</button>
        </form>
    </section>

    <section>
        <h2 class="title">Related Videos</h2>
        <ul class="owl-carousel list-article slider-4">
            {% for stream in streams %}
            <li>
                <div class="features br-15 shadow-1">
                    <div class="features-img">
                        <iframe src="{{ stream.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h3 class="features-title">{{ stream.title }}</h3>
                    </div>
                    <div class="features-content p-2">
                        <ul class="list-inline mb-1">
                            <li>
                                <div class="user-avatar is-sm">
                                    <img src="{% static 'img/base/avatar.png' %}"
                                        alt="">
                                </div>
                            </li>
                            <li>
                                <p class="text-gray-200 font-sm">Tom Hardy | October 23, 2018</p>
                            </li>
                            <li>

                            </li>
                        </ul>
                        <a href="#" class="btn btn-link is-dark">Stream Live <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="slider-4-btns">
            <button type="button" class="btn prev btn-primary"><i
                    class="fas fa-angle-left"></i></button>
            <button type="button" class="btn next btn-primary"><i
                    class="fas fa-angle-right"></i></button>
        </div>
    </section>
</div>

<div class="modal fade" id="reply-modal" tabindex="-1" role="dialog" aria-labelledby="addPostLabel" aria-hidden="true" data-auth="{{ request.user.is_authenticated }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="close btn btn-link h4" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pb-4 pt-2 px-4">
                <h2 class="mb-1">Send Reply</h2>
                <form method="POST" id="reply-form">
                    {{ resp_form.resp_content }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary js-crop-and-upload mt-2">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.reply-btn').click(function() {
            var auth = $('#reply-modal').attr('data-auth');
            if (auth == 'False') {
                $('#inf-msg-box .alert-list').append('<li class="is-danger"><div class="alert-details"><strong>Error:</strong> Please sign-in to reply!</div><a href="javascript:void(0)" class="alert-dismiss"><i class="fas fa-times"></i></a></li>');
                removeInfo();
                return;
            }
            var msg_id = $(this).attr('data-id');
            $('#reply-form').attr('action', '/stream/message/respond/'+ msg_id +'/');
            $('#reply-modal').modal('show');
        });
    });
</script>
{% endblock %}