{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<div class="content py-3 px-4 scrollbox">
    <section class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-xs-3">
                <div class="features br-15 shadow-1">
                    <a href="{% url 'core:list_mentor' %}">
                        <div class="features-img">
                            <img src="/static/img/base/guru.jpg" alt="">
                            <h3 class="features-title">Gyaan GURUs</h3>
                        </div>
                        <div class="features-content p-2">
                            <p>A mentor can change your life. Connect with Industry leaders and most
                                successful individuals instantly and get a direction.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-xs-3">
                <div class="features br-15 shadow-1">
                    <a href="{% url 'core:live_stream' %}">
                        <div class="features-img">
                            <img src="/static/img/base/live.jpg" alt="">
                            <h3 class="features-title">Gyaan Station - <span
                                    class="text-success">Live</span>
                            </h3>
                        </div>
                        <div class="features-content p-2">
                            <p>Go Live with your experts and get your doubts cleared. The ultimate matra
                                for
                                success.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features br-15 shadow-1">
                    <a href="{% url 'core:list_post' %}">
                        <div class="features-img">
                            <img src="/static/img/base/dunia.jpg" alt="">
                            <h3 class="features-title">Gyaan Dunia</h3>
                        </div>
                        <div class="features-content p-2">
                            <p>Hot New, messages and videos. Rate it now</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <a href="{% url 'core:list_post' %}"><h2 class="title">High Rated Posts</h2></a>
        <ul class="owl-carousel list-article slider-4">
            {% for post in posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    <div class="br-15 shadow-1 bg-white p-2">
                        <h3 class="text-gray-400">{{ post.title }}</h3>
                        <p class="text-gray-300 semibold mb-2">{{ post.user.full_name }} - {{ post.created|date:"d-m-Y" }}</p>
                        <p class="article-meta">{{ post.description|safe }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="slider-4-btns">
            <button type="button" class="btn prev btn-primary"><i
                    class="fas fa-angle-left"></i></button>
            <button type="button" class="btn next btn-primary"><i
                    class="fas fa-angle-right"></i></button>
        </div>
    </section>
</div>
<div class="sidebar is-rt">
    <div class="p-2">
        {% if not request.user.is_authenticated %}
        <div class="account-wrapper mb-5">
            <div class="mb-2">
                <h3 class="bold font-lg text-secondary">Login to your account</h3>
            </div>

            <div class="mb-1">
                <a href="{% url 'social:begin' 'facebook' %}" class="btn bg-facebook btn-block btn-icon">
                    <div class="btn-icon-in"><i class="fab fa-facebook-f"></i></div>
                    <span class="btn-text">Login with Facebook</span>
                </a>
            </div>

            <div class="mb-1">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn bg-google btn-block btn-icon">
                    <div class="btn-icon-in"><i class="fab fa-google"></i></div>
                    <span class="btn-text">Login with Google</span>
                </a>
            </div>

            <div class="mb-1 popup-container">
                <button class="btn bg-truecaller btn-block btn-icon" data-toggle="popup"
                    data-target="#truecaller">
                    <div class="btn-icon-in icon-truecaller"><i class="fas fa-phone"></i></div>
                    <span class="btn-text">Login with Truecaller</span>
                </button>
                <div class="popup" id="truecaller">
                    <div class="fieldset bg-white">
                        <form action="" id="true-form">
                            <div class="mb-2">
                                <div class="input-group">
                                    <div class="icon-truecaller input-icon">
                                        <i class="fas fa-phone text-truecaller"></i>
                                    </div>
                                    <div class="input-text md-form">
                                        <input type="tel" class="form-control" maxlength="10"
                                            placeholder="Your truecaller number" id="true-num">
                                        <label for="">Number</label>
                                    </div>
                                </div>
                            </div>
                            <button id="true-login-btn" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="text-center" style="display: none;" id="true-loader">
                            <img src="/static/img/base/loader.gif" class="d-block d-centered img-responsive" alt="">
                            <p class="font-sm" id="true-msg">Please wait, or grant the permission on your mobile application to login</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <h3 class="title">Top GURUs</h3>
        <div class="scrollbox">
            <ul class="list list-lg">
                {% for mentor in mentors %}
                <li>
                    <a href="{{ mentor.get_absolute_url }}">
                        <div class="user">
                            <div class="user-avatar">
                                {% if mentor.profile_pic %}
                                <img src="{{ mentor.profile_pic.url }}"
                                    alt="">
                                {% else %}
                                <img src="{% static 'img/base/avatar.png' %}"
                                    alt="">
                                {% endif %}
                            </div>
                            <div class="user-details">
                                <h4 class="text-secondary">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</h4>
                                <p class="text-gray-200 font-sm">Information Technology</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
       $('#true-form').submit(function(e){
           e.preventDefault();
           $('#true-form').hide();
           $('#true-loader').show();
           function asyncLogin() {
                $.ajax({
                    url : '{% url "core:truecaller_login" %}',
                    type : 'POST',
                    data : {
                        'phone_number' : $('#true-num').val()
                    },
                    success : function(d){
                        if (d.status === 'Success') {
                            $('#true-msg').text('Permission granted, Login Successful!');
                            clearInterval(intervalLogin);
                            location.reload();
                        }
                    }
                });
           }
           var intervalLogin = setInterval(asyncLogin, 5000);
       });
    });
</script>
{% endblock %}